/*
    Developed by Emmanuel Oladosu. 

    Table of Content:
    - Login Page
    - Onboarding Page
    - Register Page
*/

/* ALL PAGES */
    body{
        background-color: #0f0f0f;
        color: white;
    }
    a{
        text-decoration: none;
    }

    .btn{
        border-radius: 0;
        font-weight: bold;
    }

    .ITeMS{
        color: red;
    }


    
/* LOGIN PAGE */
    /* All Screens */
        body.LOGIN{
            padding: 0;
        }
        main.LOGIN{
            height: 100vh;
        }
        .LOGIN-IMAGE{
            display: grid;
            place-items: center;
        }
        .LOGIN-IMAGE img{
            width: 60%;
        }
        .LOGIN-FORM{
            text-align: right;
            padding-top: 3rem;
            padding-bottom: 3rem;
            display: grid;
            place-items: center;

        }
        .LOGIN-FORM img{
            width: 4rem;
        }

        .LOGIN-FORM input{
            border-radius: 0;
        }

    /* Large Screens */
        @media only screen and (min-width: 767px) {
           

        }

    /* Small Screens */
        @media only screen and (max-width: 767px) {
            .LOGIN-IMAGE{
                display: none;
            }
            .LOGIN-FORM{
                text-align: left;
            }

        }



/* ONBOARDING PAGE */
    /* All Screens */
    code.ONBOARD{
        color: #3481f6;
    }

    .ONBOARD-CAROUSEL{
        padding: 5rem;
    }
    .ONBOARD-TEXT{
        text-align: left;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: grid;
        place-items: center;

    }

    .ONBOARD-TEXT img{
        width: 4rem;
        margin-bottom: 2.5rem;
    }
    .ONBOARD-TEXT .btn{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        
    }


    /* Large Screens */
        @media only screen and (min-width: 767px) {
            .ONBOARD-TEXT img{
                display: none;
            }
            .carousel-item::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 1;
            }
            .carousel-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            color: #fff;
            z-index: 2;
            }
            

        }

    /* Small Screens */
        @media only screen and (max-width: 767px) {
            .ONBOARD-CAROUSEL{
                display: none;
            }
        }




